<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, porro.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <icon class="icon-backdrop">
        <svg class="icon icon--primary icon--circel">
          <use xlink:href="Images/sprite.svg#easy"></use>
        </svg>
      </icon>
      <h3 class="features__header">Super Easy to Use</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquid
        eveniet consequatur magnam dolore ab provident, sunt expedita assumenda
        quos?
      </p>
      <a class="link-arrow features__link" href="#">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source type="image/png" srcset="images/easy.png 1x, images/easy@2x 2x" />
      <img class="features__img" src="/Images/easy.png" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <icon class="icon-backdrop">
        <svg class="icon icon--primary icon--circel">
          <use xlink:href="Images/sprite.svg#computer"></use>
        </svg>
      </icon>
      <h3 class="features__header">Simply Fast Websites</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse iure
        minima nesciunt asperiores sit dolor vitae, molestiae ex adipisci atque.
      </p>
      <a class="link-arrow features__link" href="#">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2x.png 2x"
      />
      <img class="features__img" src="/Images/fast.png" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <icon class="icon-backdrop">
        <svg class="icon icon--primary icon--circel">
          <use xlink:href="Images/sprite.svg#settings"></use>
        </svg>
      </icon>
      <h3 class="features__header">Wordpress Made Easy</h3>
      <p class="feature__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo ut
        iste beatae eligendi pariatur iure necessitatibus consequuntur laborum
        natus molestiae!
      </p>
      <a class="link-arrow features__link" href="#">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/wordpress.png 1x, images/wordpress@2x.png"
      />
      <img class="features__img" src="/Images/wordpress.png" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <icon class="icon-backdrop">
        <svg class="icon icon--primary icon--circel">
          <use xlink:href="Images/sprite.svg#clock"></use>
        </svg>
      </icon>
      <h3 class="features__header">24/7 Expert Support</h3>
      <p class="feature__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        temporibus deserunt obcaecati perferendis error quam quisquam a. Rerum,
        perspiciatis nesciunt?
      </p>
      <a class="link-arrow features__link" href="#">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2x.png 2x"
      />
      <img class="features__img" src="/Images/support.png" alt="" />
    </picture>
  </article>
</section>
