<div class="media">
    <div class="media__image">
       <svg class="icon icon--primary icon--circel">
         <use xlink:href="Images/sprite.svg#snap"></use>
         </svg>
    </div>
    <div class="media__body">
      <h3 class="media__header">Easy Start & Management Updates</h3>
      <p class="media__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus magnam sequi labore harum eveniet, pariatur quia placeat cumque alias quidem id quae ipsam quisquam architecto consectetur nesciunt quas! Pariatur et iure quos minus perferendis ducimus!
    </div>
  </div>