<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/Images/Marinda.jpeg" alt="A happy, smiling customer" />
      <icon class="icon-backdrop icon-backdrop--accent">
        <svg class="icon icon--small icon--white">
          <use xlink:href="Images/sprite.svg#quotes"></use>
        </svg>
      </icon>
    </div>
    <div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis
          debitis laborum excepturi est esse ducimus, in beatae incidunt
          reiciendis, obcaecati quis natus assumenda eius odit earum aliquam
          fugit similique. Quia delectus minima quos ad adipisci!
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="Images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__header quote__author">Marinda Scheerman</h3>
              <p class="quote__organization">Little girl at Daddy's company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
